<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">
  <div class="flex-item" fxFlex="60%" fxFlex.xs="60%">
    <div style="display: block;">
<canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
  [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>
</div>
<div class="flex-item" style="margin-bottom: 10px">
<table class="table table-responsive table-condensed">
  <tr>
    <th *ngFor="let label of lineChartLabels"></th>
  </tr>
  <tr *ngFor="let d of lineChartData">
    <td *ngFor="let label of lineChartLabels; let j=index"></td>
  </tr>
</table>
</div>
</div>