<md-sidenav-layout [class.m2app-dark]="isDarkTheme">


    <md-toolbar color="primary">

        FX Tracking

        <span class="app-toolbar-filler"></span>
        <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
    </md-toolbar>

    <div class="app-content">
        <form>
            <md-select placeholder="Selected currency" [(ngModel)]="selectedValue" name="currency">
                <md-option *ngFor="let currency of currencies" [value]="currency.id">
                    {{currency.displayName}}
                </md-option>
            </md-select>

            <p> Selected value: {{selectedValue}} </p>
        </form>

<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
    <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels"></th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index"></td>
      </tr>
    </table>
    <button (click)="randomize()">CLICK</button>
  </div>
</div>

    </div>

</md-sidenav-layout>